
.text-primary {
    color: #407ee0;
}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    font-weight: 700;
    font-size: 18px;
    padding: 18px 30px;
    background: #59ccec;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* header and navigation style */
.header {
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 70px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #181818;
}
.hire{
    color: #0d312c;
}

/* banner */

.banner {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    color: #181818;
    margin: 15px 0;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}
.btn-contact{
    background-color: #fff;
    color: #468ed2;
    border: 1px solid #1c059a;
}
.cv {
    margin-right: 10px;
}

.banner-img {
    width: 80%;
}

/* main  */

main {
    margin: 130px 230px;
}

.about {
    padding: 130px 155px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;

}

.section-description {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 30px 0;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.details h4 {
    font-size: 15px;
    color: #757575;
    margin-bottom: 5px;
}

.details h5 {
    color: #474747;
    font-weight: 700;
    font-size: 16px;
}

/* what i do */

.what-do {
    text-align: center;
    margin-top: 130px;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 24px;
}

.skills {
    padding: 33px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    cursor: pointer;
}
.skills:hover{
    box-shadow: 0px 9px 52px rgba(0, 0, 0, 0.2);
}

.skill-title {
    font-weight: 700;
    font-size: 18px;
    color: #181818;
    margin-bottom: 20px;
}

.skills img {
    margin-bottom: 30px;
}

.skill-descripiton {
    font-size: 14px;
}

/* my resume */
.my-resume {
    margin-top: 130px;
}

.my-resume h1 {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin-bottom: 110px;
}

.resume-main {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.resume-main h2 {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-main h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-main h5{
    font-weight: 600;
font-size: 20px;
color: #757575;
}
.resume-main p{
    font-size: 16px;
    color: #757575;
    margin: 20px 0;
}
.resume-main hr{
    margin-bottom: 20px;
    color: #D1D1D1;
}
.my-resume .cv-btn{
    text-align: center;
    margin-top: 50px;
}

/* contact */

.contact{
    margin-top: 115px;
    background: #FFF8F3;
    
}
.margin{
    margin: 0 230px;
    display: flex;
    padding: 130px 0;
    gap: 117px;
}
.contact h3{
    font-weight: 700;
font-size: 28px;
color: #181818;
}
.link p{
    color: #474747;
    font-size: 16px;
    margin: 30px 0;
}
.link ul{
    display: flex;
}
.link ul li{
    list-style: none;
    margin-right: 20px;
}
.form-fil input,textarea{
    width: 100%;
    padding: 18px 30px;
    margin-top: 25px;
    border-radius: 7px;
    border: 1px solid #FD6E0A;
    outline: none;
}
.form-fil input[type="submit"]{
    width: 40%;
}

footer p{
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}
footer span{
    color: red;
    font-size: 17px;
    font-weight: 700;
}
Footer